:root{
  background-color: #362d3b;
}

.container{
  color: #e3d6e7;
}

.containerHeader{
  color: #e3d6e7;
}
.navbar{
  color: #e3d6e7;
  text-decoration: none;
}

.containerBody{
  color: #e3d6e7;
}

.containerFooter{
  color: #e3d6e7;
}