/* Everything */
:root{
  background-color: #362d3b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  color: #e3d6e7;
}

/* Header */
.containerHeader{
  background-color: #b6889e;

  color: #e3d6e7;
  display: flex;
  gap: 15px;
  padding: 10px;
}

.siteName{
  color: #e3d6e7;
  text-decoration: none;
}

/* Body */
.containerBody{
  color: #e3d6e7;
  gap: 15px;
  padding: 10px;
}


.columnList{
  display: flex;
  flex-direction: column;
}

.rowList{
  display: flex;
  flex-direction: row;
}



/* Image Display */
.displayImage{
  border-color: #b6889e;
  border-radius: 20px;
  border-style: solid;
  max-width: 400px;
}

.split{
  background-color: #82748b;
  display: inline-block;
  display: flex;
  flex-direction: row;

  border-color: #82748b;
  border-radius: 20px;

  width: 45%;
  padding: 10px;
}

.split-left{
  float: left;
  width: 50%;
}

.split-right{
  float: left;
  width: 50%;
}


/* Footer */
.containerFooter{
  color: #e3d6e7;
}